<div class="jumbotron">
  <h1>Yet Another API server</h1>
  <p>It is a mock API server similar to <a href="//requestb.in">requestb.in</a> which can be self-hosted. Source code is
    hosted on <a href="//github.com/SuderPawel/yet-another-api-server">GitHub</a>.
  <p>
    <%= link_to 'Proceed with new API handler', new_api_path, class: 'btn btn-lg btn-primary', role: 'button' %>
  </p>
</div>