<h4>Noticed events</h4>

<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Method</th>
    <th>Body</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
      <tr>
        <td>#<%= event.id %></td>
        <td><code><%= event.method %></code></td>
        <td><code><%= event.body %></code></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>