<h1>All APIs</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @apis.each do |api| %>
      <tr>
        <td><%= api.name %></td>
        <td>
          <div class="btn-group btn-group-xs" role="group">
            <%= link_to 'Show', api_path(api), class: 'btn btn-default', role: 'button' %>
            <%= link_to 'Edit', edit_api_path(api), class: 'btn btn-default', role: 'button' %>
            <%= link_to 'Destroy', api_path(api), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default', role: 'button' %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>