<table class="table">
  <thead>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Name</td>
    <td><%= @api.name %></td>
  </tr>
  <tr>
    <td>UUID</td>
    <td><%= @api.uuid %></td>
  </tr>
</table>